Repository uplne/planmylife_app, changes with the labels that .github/labeler.yml gives for each.
All labels: store, tasks, containers, components, tests, Workflows

Remove unused imports
  src/components/Tasks/index.tsx
Labels: tasks, components

Updated build pipeline to deploy on pr and merge
  .env
  .firebaserc
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
Labels: Workflows

Fix subheading for weekly goals
  src/components/WeeklyGoals/index.tsx
Labels: components

Rename action jobs
  .github/workflows/on-pull-request.yml
  .github/workflows/on-push-tests.yml
Labels: Workflows

Test
  jest.config.cjs
  package-lock.json
  package.json
  src/components/Actions/index.tsx
  src/components/Tasks/index.tsx
  src/store/Tasks/index.ts
Labels: store, tasks, components

Change github actions to ubuntu-latest
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  .github/workflows/labeler.yml
  .github/workflows/on-pull-request.yml
  .github/workflows/on-push-tests.yml
Labels: Workflows

Remove deploy actions
  .github/workflows/firebase-hosting-merge._yml
  .github/workflows/firebase-hosting-pull-request._yml
Labels: Workflows

Fix unit tests
  src/components/Tasks/tasks.controller.test.ts
Labels: tasks, components, tests

Fix encryption unit test
  src/services/encryption.test.ts
Labels: tests

Pause labeler
  .github/workflows/labeler._yml
Labels: Workflows

More selector logic for tasks
  src/components/Actions/index.tsx
  src/components/Tasks/tasks.controller.ts
  src/store/Tasks/api.ts
  src/store/Tasks/selectors/completed.selector.ts
  src/store/Tasks/selectors/recurring.selector.ts
Labels: store, tasks, components

Disable tests
  .github/workflows/firebase-hosting-merge._yml
  .github/workflows/firebase-hosting-pull-request._yml
  src/components/Tasks/tasks.controller.ts
Labels: tasks, components, Workflows

Fixed refresh with date
  .github/workflows/firebase-hosting-merge._yml
  .github/workflows/firebase-hosting-pull-request._yml
  src/components/TaskScheduler/index.tsx
  src/components/Tasks/TaskModal/AddTask.tsx
  src/components/Tasks/TaskModal/index.tsx
  src/components/Tasks/index.tsx
  src/components/Tasks/tasks.controller.ts
  src/components/WeekSelector/GoToWeek/index.tsx
  src/components/WeekSelector/index.tsx
  src/containers/Login/login.controller.test.ts
  src/containers/Login/login.controller.ts
  src/containers/Router/index.tsx
  src/containers/Settings/controller.test.ts
  src/containers/Settings/settings.controller.ts
  src/containers/Settings/settings.service.ts
  src/services/parseurl.ts
  src/store/Settings/index.ts
  src/store/Tasks/selectors/default-scheduled.selector.ts
Labels: store, tasks, containers, components, tests, Workflows

Fix styling on go to next week buttons
  src/App.css
  src/components/WeekSelector/GoToCurrentWeek/GoToCurrentWeek.css
  src/components/WeekSelector/GoToCurrentWeek/index.tsx
  src/components/WeekSelector/GoToWeek/index.tsx
  tailwind.config.ts
Labels: components

Add hover to week selector and fix responsivness
  src/components/WeekSelector/index.tsx
Labels: components

Skip tests
  package.json
Labels: none

Initial goals page setup
  src/components/Tasks/TaskDate/index.tsx
  src/components/Title/index.tsx
  src/containers/Goals/index.tsx
  src/containers/Header/index.tsx
  src/containers/Router/index.tsx
Labels: tasks, containers, components

Goals
  src/components/EditableInput/index.tsx
  src/components/Headlines/H3/index.tsx
  src/components/SimpleInput/SimpleInput.css
  src/components/Tasks/index.tsx
  src/containers/Goals/AddGoalModal/Category/index.tsx
  src/containers/Goals/AddGoalModal/GoalType/index.tsx
  src/containers/Goals/AddGoalModal/ModalRow/index.tsx
  src/containers/Goals/AddGoalModal/ModalSplit/index.tsx
  src/containers/Goals/AddGoalModal/SMARTGoal/index.tsx
  src/containers/Goals/AddGoalModal/index.tsx
  src/containers/Goals/index.tsx
  src/containers/Login/index.tsx
  src/containers/Router/index.tsx
  src/main.tsx
  src/store/Goals/api.ts
  src/store/Goals/index.ts
Labels: store, tasks, containers, components

Add goals
  .nvmrc
  index.html
  package-lock.json
  package.json
  src/components/Actions/index.tsx
  src/components/Buttons/BasicButton/BasicButton.css
  src/components/Buttons/BasicButton/BasicButton.stories.tsx
  src/components/Buttons/BasicButton/index.tsx
  src/components/Buttons/IconButton/index.tsx
  src/components/Buttons/IconButton/styles.css
  src/components/Buttons/ToggleButton/index.tsx
  src/components/Categories/categories.controller.ts
  src/components/Categories/categories.service.ts
  src/components/Categories/index.tsx
  src/components/EditableInput/index.tsx
  src/components/Goal/Actions/index.tsx
  src/components/Goal/index.tsx
  src/components/GoalProgress/index.tsx
  src/components/Input/index.tsx
  src/components/Modal/index.tsx
  src/components/SimpleInput/index.tsx
  src/components/Task/index.tsx
  src/components/Tasks/index.tsx
  src/containers/Goals/AddGoalModal/GoalType/index.tsx
  src/containers/Goals/AddGoalModal/ModalSplit/index.tsx
  src/containers/Goals/AddGoalModal/SMARTGoal/index.tsx
  src/containers/Goals/AddGoalModal/index.tsx
  src/containers/Goals/goals.controller.ts
  src/containers/Goals/goals.service.ts
  src/containers/Goals/index.tsx
  src/main.tsx
  src/store/Categories/api.ts
  src/store/Categories/index.ts
  src/store/Goals/api.ts
  src/store/Goals/index.ts
  src/stories/Button.tsx
  tailwind.config.ts
Labels: store, tasks, containers, components

Remove API key
  src/services/firebase.ts
Labels: none

Added goal tasks
  src/components/Actions/GoalTasksActions.tsx
  src/components/Actions/TaskActions.tsx
  src/components/Buttons/IconButton/index.tsx
  src/components/Confirm/index.tsx
  src/components/EditableInput/EditableInput.css
  src/components/Goal/AddGoalTask/index.tsx
  src/components/Goal/Tasks/index.tsx
  src/components/Goal/index.tsx
  src/components/GoalTask/index.tsx
  src/components/Task/index.tsx
  src/components/Tasks/TaskStatus/index.tsx
  src/components/Tasks/index.tsx
  src/containers/Goals/AddGoalModal/SMARTGoal/index.tsx
  src/containers/Goals/goals.controller.ts
  src/containers/Goals/goals.service.ts
  src/containers/Goals/goals.tasks.controller.ts
  src/containers/Goals/goals.tasks.service.ts
  src/containers/Goals/index.tsx
  src/services/firebase.ts
  src/services/requestErrorHandling.ts
  src/services/sorting.ts
  src/store/Goals/api.ts
  src/store/Goals/index.ts
  src/store/Goals/selectors/goalTasksSelector.ts
Labels: store, tasks, containers, components

Add actions for weekly tasks
  src/components/Actions/GoalTasksActions.tsx
  src/components/Actions/TaskActions.tsx
  src/components/Actions/types.ts
  src/components/Buttons/IconButton/index.tsx
  src/components/Goal/Tasks/index.tsx
  src/components/TaskIndicator/TagInProgress.tsx
  src/components/TaskIndicator/TagMoved.tsx
  src/components/TaskIndicator/TagRecurring.tsx
  src/components/TaskIndicator/index.tsx
  src/components/Tasks/index.tsx
  src/components/WeeklyGoals/index.tsx
  src/containers/Goals/goals.queries.ts
  src/containers/Goals/goals.tasks.controller.ts
  src/containers/Goals/goals.tasks.service.ts
  src/containers/Overview/index.tsx
  src/containers/WeeklyGoals/Task/index.tsx
  src/containers/WeeklyGoals/index.tsx
  src/containers/WeeklyGoals/useIsLoading.tsx
  src/services/sorting.ts
  src/store/Goals/api.ts
  src/store/Goals/index.ts
  src/store/Goals/selectors/completed.selector.ts
  src/store/Goals/selectors/default.completed.selector.ts
  src/store/Goals/selectors/default.selector.ts
  src/types/status.ts
  tailwind.config.ts
Labels: store, tasks, containers, components

Edit goal tasks
  src/components/Actions/GoalTasksActions.tsx
  src/components/Goal/AddGoalTask/index.tsx
  src/containers/Goals/goals.tasks.controller.ts
Labels: containers, components

Add moveToNextWeek for goal tasks
  src/components/Actions/GoalTasksActions.tsx
  src/components/Tasks/TaskStatus/index.tsx
  src/containers/Goals/goals.tasks.controller.ts
  src/containers/WeeklyGoals/Task/index.tsx
  src/containers/WeeklyGoals/index.tsx
  src/store/Goals/api.ts
Labels: store, tasks, containers, components

Subtasks
  src/components/Actions/Actions.tsx
  src/components/Actions/GoalSubtasksActions.tsx
  src/components/Actions/GoalTasksActions.tsx
  src/components/Actions/TaskActions.tsx
  src/components/Actions/types.ts
  src/components/Buttons/IconButton/index.tsx
  src/components/EditableInput/index.tsx
  src/components/Goal/AddGoalTask/index.tsx
  src/components/Goal/AddSubTask/index.tsx
  src/components/Goal/EditSubTask/index.tsx
  src/components/Goal/Tasks/index.tsx
  src/components/GoalSubTasks/index.tsx
  src/components/GoalTask/index.tsx
  src/components/TaskIndicator/TagInProgress.tsx
  src/components/TaskList/TaskList.tsx
  src/components/TaskList/TaskListItem.tsx
  src/containers/Goals/goals.subtasks.controller.ts
  src/containers/Goals/goals.subtasks.service.ts
  src/containers/Goals/goals.tasks.controller.ts
  src/containers/WeeklyGoals/Task/index.tsx
  src/containers/WeeklyGoals/index.tsx
  src/store/Confirm/index.ts
  src/store/Goals/api.ts
  src/store/Goals/index.ts
Labels: store, containers, components

Complete goal. Complete task. Complete subtask
  src/components/Buttons/ToggleButton/index.tsx
  src/components/Goal/index.tsx
  src/containers/Goals/AddGoalModal/GoalType/index.tsx
  src/containers/Goals/AddGoalModal/SMARTGoal/index.tsx
  src/containers/Goals/goals.controller.ts
  src/containers/Goals/goals.service.ts
  src/containers/Goals/goals.tasks.controller.ts
  src/containers/Goals/index.tsx
Labels: containers, components

Goal to weekly tasks
  src/components/Actions/Actions.tsx
  src/components/Actions/types.ts
  src/components/Goal/Actions/index.tsx
  src/components/Goal/index.tsx
  src/components/GoalTask/index.tsx
  src/components/Task/index.tsx
  src/components/Tasks/TaskStatus/index.tsx
  src/containers/Goals/AddGoalModal/SMARTGoal/index.tsx
  src/containers/Goals/goals.controller.ts
  src/containers/Goals/goals.queries.ts
  src/containers/Goals/goals.tasks.controller.ts
  src/containers/Goals/goals.tasks.service.ts
  src/containers/WeeklyGoals/Goal/index.tsx
  src/containers/WeeklyGoals/Task/index.tsx
  src/containers/WeeklyGoals/index.tsx
  src/store/Goals/api.ts
  src/store/Goals/selectors/default.selector.ts
Labels: store, tasks, containers, components

Add habit
  package-lock.json
  package.json
  src/components/Actions/Actions.tsx
  src/components/Actions/types.ts
  src/components/Buttons/ToggleButton/index.tsx
  src/components/Goal/Actions/index.tsx
  src/components/Goal/AddHabit/index.tsx
  src/components/Goal/Tasks/index.tsx
  src/components/Goal/index.tsx
  src/components/Modal/Modal.css
  src/components/Modal/index.tsx
  src/components/Scheduler/Day/index.tsx
  src/components/Scheduler/index.tsx
  src/components/TaskIndicator/TagHabit.tsx
  src/components/TaskIndicator/TagStatus.tsx
  src/components/Tasks/TaskModal/TaskModal.css
  src/containers/Goals/AddGoalModal/SMARTGoal/checkbox.css
  src/containers/Goals/AddGoalModal/SMARTGoal/index.tsx
  src/containers/Goals/goals.controller.ts
  src/containers/Goals/goals.habit.controller.ts
  src/containers/WeeklyGoals/Goal/Habit/index.tsx
  src/containers/WeeklyGoals/Goal/index.tsx
  src/containers/WeeklyGoals/index.tsx
  src/store/Goals/api.ts
  src/store/Goals/index.ts
  src/store/Goals/selectors/default.selector.ts
  src/store/Goals/selectors/goalTasks.selector.ts
  src/store/Goals/selectors/habitGoal.selector.ts
  src/store/HabitScheduler/index.ts
  src/types/status.ts
  tsconfig.json
Labels: store, tasks, containers, components

.github/labeler.yml:

store:
  - 'src/store/**'

tasks:
  - 'src/components/Tasks/**'
  - 'src/components/Task/**'
  - 'src/store/Tasks/**'

containers:
  - 'src/containers/**'

components:
  - 'src/components/**'

tests:
  - src/**/*.test.ts
  - src/**/*.test.tsx

Workflows:
  - .github/**
